<template>
  <users></users>
  <groups></groups>
</template>
<script>
  import Users from './Users.vue'
  import Groups from './Groups.vue'
  import Vue from 'vue'

  Vue.component('users', Users)
  Vue.component('groups', Groups )
  export default {
    data () {
      return true;
    }
  }
</script>
