<template>
  <div class="create-group">
    <span><a href="" v-link="{ name: 'group_add' }">Create a Group</a></span>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell demo-card-square mdl-card mdl-shadow--2dp" v-for="group in groups" v-show="group.isActive">
      <div class="mdl-card__title mdl-card--expand {{ classes[$index] }}">
        <h2 class="mdl-card__title-text">{{ group.name }} </h2>
      </div>
      <div class="mdl-card__supporting-text">
        {{ group.description }}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" v-on:click="onDelete(group._id)">
        Delete Group
        </a>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
  import DB from '../db'
  export default {
    data() {
      return  {
          groups: DB.groups(),
          classes: [
            'image-technics',
            'image-business',
            'image-sport'
          ]
      }
    },
    methods: {
      onDelete(group_id) {
        DB.groups().find({'_id': group_id}).update({isActive: false})
      }
    }
  }
</script>
<!-- Square card -->
<style scoped>
  .mdl-grid {
  margin: 0;
  padding: 0;
  }
  .demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  }
  .demo-card-square > .mdl-card__title {
  color: #fff;
  }
  .demo-card-square > .image-sport {
  background:
  url('http://lorempixel.com/g/400/400/abstract') bottom right 15% no-repeat #46B6AC;
  }
  .demo-card-square > .image-business {
  background:
  url('http://lorempixel.com/g/400/400/business') bottom right 15% no-repeat #46B6AC;
  }
  .demo-card-square > .image-technics {
  background:
  url('http://lorempixel.com/g/400/400/technics') bottom right 15% no-repeat #46B6AC;
  }
  .create-group {
  width: 100%;
  border-top: 1px solid black;
  padding: 10px 0;
  text-align: right;
  font-size: 20px;
  }
  .create-group a {
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  }
</style>
