<template>
  <form action="#" class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col is-dirty is-upgraded">
      <input class="mdl-textfield__input" type="text" id="sample1" v-model="name">
      <label class="mdl-textfield__label" for="sample1">Group Name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col is-dirty is-upgraded">
      <input class="mdl-textfield__input" type="text" id="sample2" v-model="description">
      <label class="mdl-textfield__label" for="sample2">Group Description...</label>
    </div>
    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" value="Confirm" v-on:click.stop.prevent='onSubmit'>
  </form>
</template>
<script type="text/javascript">
  import DB from '../db'
  import GUID from '../utils/guid'

  const groups = DB.collections.groups

  export default {
    data() {
      return {
        _id: GUID.generate(),
        isActive: true,
        name: 'Random group name',
        description: 'yada yada yada'
      }
    },
    computed: {
      form() {
        return {
          name: this.name,
          description: this.description
        }
      }
    },
    methods: {
      onSubmit(event) {
        groups.insert({
          _id: GUID.generate(),
          name: this.form.name,
          isActive: true,
          description: this.form.description
        });
      }
    }
  }
</script>
<!-- Square card -->
<style scoped>
  .mdl-grid {
  margin: 0;
  padding: 0;
  }
</style>
