<template>
  <form action="#" class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" id="sample1" value="" v-model="addUserForm.email">
      <label class="mdl-textfield__label" for="sample3">Email Address...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" value="" v-model="addUserForm.first_name">
      <label class="mdl-textfield__label" for="sample3">First Name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" value="" v-model="addUserForm.last_name">
      <label class="mdl-textfield__label" for="sample3">Last Name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" value="" v-model="addUserForm.groups">
      <label class="mdl-textfield__label" for="sample3">Groups...</label>
    </div>
    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" value="Confirm" v-on:click.stop.prevent='onSubmit'>
  </form>
</template>
<script type="text/javascript">
  import DB from '../db'
  import GUID from '../utils/guid'

  const users = DB.collections.users

  const UserAdd = {
      data() {

        return  {
          user: DB.users()[0],
          groups: DB.groups(),
          addUserForm: {
            id: GUID.generate()
          }
        }
      },
      methods: {
        onSubmit(event) {
          users.insert({
            id: GUID.generate(),
            email: this.addUserForm.email,
            first_name: this.addUserForm.first_name,
            last_name: this.addUserForm.last_name,
            groups: this.addUserForm.groups,
            isActive: true
          });
        }
      }
  }
  export default UserAdd
</script>
<style scoped></style>
