<template>
  <div class="create-user">
    <span><a href="" v-link="{ name: 'user_add' }">Create a User</a></span>
  </div>
  <ul class="demo-list-three mdl-list">
    <li class="mdl-list__item mdl-list__item--three-line" v-for="user in users" v-show="user.isActive">
      <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{ user.first_name }}&nbsp;{{ user.last_name }}</span>
      <span class="mdl-list__item-text-body">
      User exists in {{ user.groups.length }} groups | {{ user.email }}
      </span>
      </span>
      <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" v-link="{ name: 'user_edit', params: {id: user._id }}" href=""><i class="material-icons">edit</i></a>
      </span>
      <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" v-link="{ name: 'user_edit', params: {id: user._id }}" href=""><i class="material-icons">delete</i></a>
      </span>
    </li>
  </ul>
</template>
<script type="text/javascript">
  import DB from '../db'

  // Define some components
  const Users = {
      data() {
        return  {
            users: DB.users()
        }
      }
  }
  export default Users
</script>
<style scoped>
  .content-color {
  color: #C009EE;
  }
  li:hover {}
  .mdl-grid {
  padding: 0;
  margin: 0;
  }
  .tiny-links {
  font-size: 14px;
  }
  .user-actions {
  margin: 0 auto;
  text-align: center;
  display: inherit;
  }
  .user-item {
  border: 1px solid #909090;
  margin: 0.5rem;
  }
  .user-email {
  color: #666;
  font-size: 15px;
  margin-top: -10px;
  }
  .create-user {
  width: 100%;
  border-top: 1px solid black;
  padding: 10px 0;
  text-align: right;
  font-size: 20px;
  }
  .create-user a {
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  }
</style>
