<template>
  <form action="#" class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col is-dirty is-upgraded">
      <input class="mdl-textfield__input" type="text" name="email" value="{{ user.email }}">
      <label class="mdl-textfield__label" for="sample3">Email Address...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col is-dirty is-upgraded">
      <input class="mdl-textfield__input" type="text" name="first_name" value="{{ user.first_name }}">
      <label class="mdl-textfield__label" for="sample3">First Name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col is-dirty is-upgraded">
      <input class="mdl-textfield__input" type="text" name="last_name" value="{{ user.last_name }}">
      <label class="mdl-textfield__label" for="sample3">Last Name...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col is-dirty is-upgraded is-focused">
      <label class="mdl-textfield__label" for="sample3">Groups...(hold CTRL to select multiple)</label>
      <select name="cars" multiple class="mdl-textfield__input" v-model="groupsSelected" multiple>
        <option v-for="group in groups" v-bind:value="group._id" v-bind:name="group.name.toLowerCase()" :selected="user.groups.indexOf(group._id) > 0">
          {{ group.name }}
        </option>
      </select>
    </div>
    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" value="Confirm" v-on:click.stop.prevent='updateUser'>
  </form>
</template>
<script type="text/javascript">
  import DB from '../db'

  const users = DB.collections.users

  // Define some components
  const UserEdit = {
      data() {
        return  {
            user: users.find({
              _id: this.$route.params.id
            })[0],
            groups: DB.groups()
        }
      },

      methods: {
        updateUser() {
          users.updateById(this.$route.params.id, {
            email: document.querySelector('[name="email"]').value,
            first_name: document.querySelector('[name="first_name"]').value,
            last_name: document.querySelector('[name="last_name"]').value,
            groups: document.querySelector('[name="groups"]').value,
          })
        }
      }
  }
  export default UserEdit
</script>
<style scoped>
</style>
